@if (form) {
  <ng-container [formGroup]="form">
    <div class="row">
      <p>
        <span class="mat-body">Id</span><br>
        <span class="mat-caption">Talkgroup identifier in decimal format.</span>
      </p>
      <mat-form-field>
        <input type="number" min="1" step="1" matInput formControlName="id" placeholder="Id">
        @if (form?.get('id')?.hasError('duplicate')) {
          <mat-error>
            Id is already defined
          </mat-error>
        }
        @if (form?.get('id')?.hasError('min')) {
          <mat-error>
            Id is invalid
          </mat-error>
        }
        @if (form?.get('id')?.hasError('required')) {
          <mat-error>
            Id is required
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <p>
        <span class="mat-body">Label</span><br>
        <span class="mat-caption">Talkgroup label displayed on the main screen and on buttons.</span>
      </p>
      <mat-form-field>
        <input type="text" matInput formControlName="label" placeholder="Label">
        @if (form?.get('label')?.hasError('required')) {
          <mat-error>
            Label is required
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <p>
        <span class="mat-body">Name</span><br>
        <span class="mat-caption">Talkgroup name displayed on the main screen.</span>
      </p>
      <mat-form-field>
        <input type="text" matInput formControlName="name" placeholder="Name">
        @if (form?.get('name')?.hasError('required')) {
          <mat-error>
            Name is required
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <p>
        <span class="mat-body">Group</span><br>
        <span class="mat-caption">Group to which this talkgoups belongs.</span>
      </p>
      <mat-form-field>
        <mat-select formControlName="groupId" placeholder="Group">
          @for (group of groups; track group) {
            <mat-option [value]="group._id">
              {{ group.label }}
            </mat-option>
          }
        </mat-select>
        @if (form?.get('groupId')?.hasError('required')) {
          <mat-error>
            Group is required
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <p>
        <span class="mat-body">Tag</span><br>
        <span class="mat-caption">Tag to which this talkgoups belongs.</span>
      </p>
      <mat-form-field>
        <mat-select formControlName="tagId" placeholder="Tag">
          @for (tag of tags; track tag) {
            <mat-option [value]="tag._id">
              {{ tag.label }}
            </mat-option>
          }
        </mat-select>
        @if (form?.get('tagId')?.hasError('required')) {
          <mat-error>
            Tag is required
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <p>
        <span class="mat-body">Led Color</span><br>
        <span class="mat-caption">Indicator color when playing an audio file from this talkgroup. If not specified,
        the color configured for the system is used.</span>
      </p>
      <ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;" [formControl]="led"></ngx-colors>
    </div>
    <div class="row">
      <p>
        <span class="mat-body">Frequency</span><br>
        <span class="mat-caption">Fake frequency in hertz displayed on the main screen.</span>
      </p>
      <mat-form-field>
        <input type="number" min="0" matInput formControlName="frequency" placeholder="Frequency">
        @if (form?.get('frequency')?.errors) {
          <mat-error>
            Invalid frequency
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row bottom">
      @if (form.get('id')?.value) {
        <button type="button" mat-button (click)="blacklist.emit()">
          Blacklist talkgroup
        </button>
      }
      <button type="button" mat-button color="warn" (click)="remove.emit()">
        Delete talkgroup
      </button>
    </div>
  </ng-container>
}