<p class="mat-body">
  Change the administrator password which gives access to the server administration dashboard.
</p>
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Current password</mat-label>
    <input type="password" matInput formControlName="currentPassword" required>
    @if (form.get('currentPassword')?.hasError('required')) {
      <mat-error>
        Current password is required
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>New password</mat-label>
    <input type="password" matInput formControlName="newPassword" required>
    @if (form.get('newPassword')?.hasError('required')) {
      <mat-error>
        New password is required
      </mat-error>
    }
    @if (form.get('newPassword')?.hasError('minlength')) {
      <mat-error>
        Password is too short
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Verify new password</mat-label>
    <input type="password" matInput formControlName="verifyNewPassword" required>
    @if (form.get('verifyNewPassword')?.hasError('required')) {
      <mat-error>
        New password verification is required
      </mat-error>
    }
    @if (form.get('verifyNewPassword')?.hasError('invalid')) {
      <mat-error>
        Password don't match
      </mat-error>
    }
  </mat-form-field>
  <div class="row bottom">
    <button type="button" mat-raised-button [disabled]="form.disabled || form.untouched"
    (click)="reset();">Reset</button>
    <button type="button" mat-raised-button color="primary"
    [disabled]="form.disabled || form.pristine || !form.valid" (click)="save()">Save</button>
  </div>
</form>